name: 打包 nuxt 项目
on: push

permissions: 
  contents: read

jobs:
  npm-build:
    name: 构建项目
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Use Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      - run: |
          npm install
          npm run build
      - name: 部署
        uses: peaceiris/actions-gh-pages@v4
        with:
          branch: gh-pages
          folder: .output/public
          # github_token: ${{ secrets.GITHUB_TOKEN }}
          # publish_dir: ./dist
